* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.container {
    width: 100%;
    height: 100vh;
}
.header-container {
    width: 100%;
    background: #004aad;
    padding: 15px 30px;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
.header-container .login-link a {
    text-decoration: none;
    color: white;
}
.header-container .login-link a button {
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    padding: 9px 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: white 1px solid;
    outline: none;
    transition: all ease 0.35s;
    background: white;
    color: #004aad;
    letter-spacing: 1.2;
}
.header-container .title-container {
    display: flex;
}
.header-container .title-container i {
    color: white;
    font-size: 30px;
    line-height: 1.6;
}
.header-container .title-container h2 {
    letter-spacing: 2px;
    margin-left: 10px;
    line-height: 2;
    color: white;
}
.landing {
    min-height: 100vh;
    width: 100%;
}
.landing-page-2-container,
.landing-page-3-container {
    min-height: 100vh;
}
.landing-page-1-container,
.landing-page-3-container {
    background: white;
}
.landing-page-2-container {
    background: rgb(240, 240, 250);
}

.landing-page-1-container .container-page1 {
    width: 100%;
    min-height: auto;
    padding: 5px;
}
.landing-page-1-container .container-page1 .image-container {
    text-align: center;
    margin-top: 25px;
}
.landing-page-1-container .container-page1 .image-container img {
    min-height: auto;
    width: 250px;
    margin-top: 25px;
}
.landing-page-1-container .container-page1 .tilte-page1 {
    text-align: center;
    margin: -10px 0 20px 0;
}
.landing-page-1-container .container-page1 .tilte-page1 h2 {
    font-size: 35px;
    letter-spacing: 1px;
    color: #174e7b;
}
.socialmedia-title p {
    font-size: 20px;
    letter-spacing: 1px;
    color: #174e7b;
    text-align: center;
    font-weight: 600;
}
.social-media-cont {
    text-align: center;
    margin: 10px 0 20px 0;
}
.social-media-cont i {
    font-size: 30px;
    margin: 0 5px;
}
.social-media-cont .fa-facebook {
    color: #4267b2;
}
.social-media-cont .fa-twitter {
    color: #1da1f2;
}
.social-media-cont .fa-instagram {
    color: #fb3958;
}
.landing-page-1-container .container-page1 .content-page1 p {
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
}
.landing-page-1-container .container-page1 .content-page1 {
    padding-left: 5px;
    padding-right: 5px;
}
.landing-page-1-container .container-page1 .content-page1 button {
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
    margin: 15px 0 25px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    border: #004aad 1px solid;
    outline: none;
    transition: all ease 0.35s;
    background: #004aad;
    color: white;
    letter-spacing: 1.2;
}
.landing-page-1-container .container-page1 .feature-container {
    width: 100%;
    margin-top: 15px;
}
.landing-page-1-container .container-page1 .feature-container .feature-title p {
    font-size: 20px;
    letter-spacing: 1px;
    color: #174e7b;
    text-align: center;
    font-weight: 600;
}
.landing-page-1-container
    .container-page1
    .feature-container
    .feature-container-content
    ul {
    list-style: none;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.landing-page-1-container
    .container-page1
    .feature-container
    .feature-container-content
    ul
    li {
    line-height: 1.5;
    font-size: 15px;
}
.landing-page-1-container
    .container-page1
    .feature-container
    .feature-container-content
    button {
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
    margin: 10px 0 25px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    border: #004aad 1px solid;
    outline: none;
    transition: all ease 0.35s;
    background: #004aad;
    color: white;
    letter-spacing: 1.2;
}
.side-view {
    position: fixed;
    right: 20px;
    top: 45%;
    z-index: 99;
}
.side-view a {
    text-decoration: none;
}
.side-view a i {
    display: block;
    margin: 10px 0 10px 0;
    cursor: pointer;
    font-size: 15px;
    color: rgb(194, 194, 194);
}
.hide-image {
    display: none;
}
footer {
    width: 100%;
    background: #004aad;
    padding: 40px 10px;
    text-align: center;
}
.social-media-footer a {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;
}
.social-media-footer a .fa-facebook {
    color: #4267b2;
}
.social-media-footer a .fa-twitter {
    color: #1da1f2;
}
.social-media-footer a .fa-instagram {
    color: #fb3958;
}
.credit {
    margin-top: 20px;
    font-size: 14px;
    color: white;
}
.credit p a {
    text-decoration: none;
    color: white;
}
/* about page */

.landing-page-2-container .container-page2 {
    width: 100%;
    min-height: auto;
    padding: 5px;
}
.landing-page-2-container .container-page2 .tilte-page2 {
    text-align: center;
    margin: -10px 0 20px 0;
}
.landing-page-2-container .container-page2 .tilte-page2 h2 {
    font-size: 35px;
    letter-spacing: 1px;
    color: #174e7b;
    margin-top: 100px;
}
.landing-page-2-container .container-page2 .content-page2 p {
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
}
.landing-page-2-container .container-page2 .content-page2 {
    padding-left: 5px;
    padding-right: 5px;
}
.landing-page-2-container .container-page2 .content-page2 button {
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
    margin: 15px 0 25px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    border: #004aad 1px solid;
    outline: none;
    transition: all ease 0.35s;
    background: #004aad;
    color: white;
    letter-spacing: 1.2;
}

.landing-page-2-container .container-page2 .history-container {
    width: 100%;
    margin-top: 15px;
}
.landing-page-2-container .container-page2 .history-container .history-title p {
    font-size: 20px;
    letter-spacing: 1px;
    color: #174e7b;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}
.landing-page-2-container
    .container-page2
    .history-container
    .history-container-content
    p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 15px;
    line-height: 1.5;
}
.landing-page-2-container
    .container-page2
    .history-container
    .history-container-content
    button {
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
    margin: 15px 0 25px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    border: #004aad 1px solid;
    outline: none;
    transition: all ease 0.35s;
    background: #004aad;
    color: white;
    letter-spacing: 1.2;
}

.landing-page-2-container .container-page2 .founder-container .founder-title p {
    font-size: 20px;
    letter-spacing: 1px;
    color: #174e7b;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}
.landing-page-2-container
    .container-page2
    .founder-container
    .founder-container-content
    p {
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 15px;
}
.landing-page-2-container
    .container-page2
    .founder-container
    .founder-container-content
    button {
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
    margin: 15px 0 25px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    border: #004aad 1px solid;
    outline: none;
    transition: all ease 0.35s;
    background: #004aad;
    color: white;
    letter-spacing: 1.2;
}
.address-container {
    width: 100%;
    min-height: auto;
    padding: 5px;
}
.address-container .address-title {
    font-size: 20px;
    letter-spacing: 1px;
    color: #174e7b;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.address-container .address-container-content-map {
    padding: 5px;
    margin-bottom: 50px;
}
.address-name p {
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 15px;
}
.mapsss {
    width: 100%;
    min-height: 50%;
}
/* three */
textarea {
    resize: none;
    width: 100%;
    font-size: 16px;
    margin-top: 9px;
    padding: 12px 14px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: rgb(223, 223, 223) 1px solid;
    outline: none;
    min-height: 40px;
}
.contact-form-container .container-page3 .image-container {
    width: 100%;
    text-align: center;
}
.contact-form-container .container-page3 .image-container img {
    min-height: auto;
    width: 250px;
    margin-top: 100px;
}
.contact-form-container .contact-form-info .contact-title {
    width: 100%;
    margin: 30px 0 20px 0;
    text-align: center;
}
.contact-form-container .contact-form-info .contact-title h2 {
    font-size: 35px;
    letter-spacing: 1px;
    color: #174e7b;
    margin-top: 40px;
}
.contact-form-container .contact-form-info .contact-form-content p {
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5;
}
.contact-form-container .contact-form-info .contact-form-content {
    padding-left: 5px;
    padding-right: 5px;
}
.contact-form-container .contact-form-info .contact-form-content button {
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
    margin: 15px 0 25px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    border: #004aad 1px solid;
    outline: none;
    transition: all ease 0.35s;
    background: #004aad;
    color: white;
    letter-spacing: 1.2;
}
.form-contact {
    width: 100%;
    min-height: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.form-contact form input {
    width: 100%;
    font-size: 16px;
    margin-top: 9px;
    padding: 12px 14px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: rgb(223, 223, 223) 1px solid;
    outline: none;
}
.form-contact form label {
    font-weight: 700;
    color: #174e7b;
}
.form-contact form button {
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
    margin: -5px 0 25px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: #004aad 1px solid;
    outline: none;
    transition: all ease 0.35s;
    background: #004aad;
    color: white;
    letter-spacing: 1.2;
}
/* meida */

@media (min-width: 500px) {
    .landing-page-1-container .container-page1 .image-container img {
        min-height: auto;
        width: 300px;
    }
}
@media (min-width: 600px) {
    .socialmedia-title p {
        text-align: left;
    }
    .contact-form-container .contact-form-info .contact-title h2 {
        font-size: 35px;
        letter-spacing: 1px;
        color: #174e7b;
        text-align: left;
        margin-top: 130px;
    }
    .contact-form-container .contact-form-info .contact-form-content button {
        width: auto;
    }
    .contact-form-container .container-page3 .image-container img {
        min-height: auto;
        width: 300px;
        margin-top: 15em;
    }
    .socialmedia-title {
        margin-top: 20px;
    }
    .social-media-cont {
        text-align: left;
    }
    .social-media-cont i {
        font-size: 30px;
        margin: 0 5px;
    }
    .contact-form-container {
        display: flex;
    }
    .landing-page-1-container {
        display: flex;
    }
    .landing-page-2-container {
        display: flex;
        justify-content: space-between;
    }
    .address-container {
        margin-top: 7em;
    }

    .landing-page-2-container .container-page2 {
        margin: 2em 0 20px 0;
        padding: 0 30px;
    }
    .mapsss {
        width: 100%;
        height: 40%;
    }
    .landing-page-2-container .container-page2 .tilte-page2 {
        text-align: left;
        margin-top: 10px;
    }
    .view-image {
        display: none;
    }
    .hide-image {
        display: inherit;
        margin-top: 13em;
    }

    .landing-page-1-container .container-page1 .image-container img {
        min-height: auto;
        width: 300px;
    }
    .below {
        margin-top: 9em;
    }
    .landing-page-2-container
        .container-page2
        .history-container
        .history-title
        p {
        text-align: left;
    }
    .landing-page-2-container
        .container-page2
        .founder-container
        .founder-title
        p {
        text-align: left;
    }
    .address-container .address-title {
        text-align: left;
    }
    .landing-page-1-container .container-page1 .tilte-page1 {
        text-align: left;
        padding: 0 30px;
    }
    .landing-page-1-container
        .container-page1
        .feature-container
        .feature-title
        p {
        text-align: left;
    }
    .landing-page-1-container .container-page1 .feature-container {
        margin-top: 30px;
        width: 100%;
        padding: 0 30px;
    }
    .landing-page-1-container .container-page1 .content-page1 {
        padding: 0 30px;
    }
    .landing-page-1-container .container-page1 .tilte-page1 h2 {
        font-size: 40px;
    }
}

/*media query */
@media (min-width: 800px) {
    .landing-page-1-container .container-page1 .image-container img {
        min-height: auto;
        width: 450px;
    }
    .contact-form-container .container-page3 .image-container img {
        min-height: auto;
        width: 450px;
        margin-top: 12em;
    }
    .form-contact form button {
        width: 50%;
        float: right;
    }
    .hide-image {
        margin-top: 3em;
    }
    .landing-page-1-container .container-page1 .tilte-page1 h2 {
        font-size: 45px;
    }
    .landing-page-1-container
        .container-page1
        .feature-container
        .feature-title
        p {
        font-size: 25px;
    }
    .landing-page-1-container
        .container-page1
        .feature-container
        .feature-container-content
        ul
        li {
        line-height: 1.8;
        font-size: 16px;
    }
    .landing-page-1-container .container-page1 .content-page1 p {
        font-size: 16px;
        line-height: 1.8;
    }
    .landing-page-1-container .container-page1 .content-page1 button {
        width: auto;
        padding: 10px 15px;
    }
    .landing-page-1-container
        .container-page1
        .feature-container
        .feature-container-content
        button {
        width: auto;
        padding: 10px 15px;
    }
    .landing-page-2-container .container-page2 .content-page2 button {
        width: auto;
        padding: 10px 15px;
    }
    .landing-page-2-container
        .container-page2
        .history-container
        .history-container-content
        button {
        width: auto;
        padding: 10px 15px;
    }
    .landing-page-2-container
        .container-page2
        .founder-container
        .founder-container-content
        button {
        width: auto;
        padding: 10px 15px;
    }
    .side-view {
        position: fixed;
        right: 40px;
        top: 45%;
    }
    .side-view a i {
        margin: 20px 0 20px 0;
    }
}
@media (min-width: 1000px) {
    .landing-page-1-container .container-page1 .image-container img {
        min-height: auto;
        width: 550px;
    }
    .contact-form-container .container-page3 .image-container img {
        min-height: auto;
        width: 550px;
        margin-top: 11em;
        margin-left: 3em;
    }
    .contact-form-info {
        margin-right: 3em;
    }
    .contact-form-container .contact-form-info .contact-title h2 {
        margin-top: 100px;
    }
    .form-contact form button {
        width: 12em;
    }
    .hold-input {
        display: flex;
        justify-content: space-between;
    }
    .hold-input div {
        margin-left: 5px;
        margin-right: 5px;
    }
    .hide-image {
        margin-top: 0em;
    }
    .landing-page-1-container {
        padding: 10px 50px;
    }
    .landing-page-2-container {
        padding: 10px 50px;
    }
    .header-container .title-container {
        margin-left: 53px;
    }
    .header-container .login-link a button {
        margin-right: 40px;
    }
    .header-container .login-link {
        margin-right: 40px;
    }
}
@media (min-width: 1200px) {
    .landing-page-1-container .container-page1 .image-container img {
        min-height: auto;
        width: 650px;
    }
    .contact-form-container .container-page3 .image-container img {
        min-height: auto;
        width: 650px;
        margin-top: 9em;
    }
    .landing-page-1-container {
        padding: 20px 65px;
    }
    .landing-page-2-container {
        padding: 20px 65px;
    }
    .contact-form-info {
        width: 35em;
        margin-left: 0em;
    }
}
@media (min-width: 1400px) {
    .landing-page-1-container .container-page1 .image-container img {
        min-height: auto;
        width: 700px;
    }
    .contact-form-container .container-page3 .image-container img {
        min-height: auto;
        width: 700px;
        margin-left: 5em;
    }
    .contact-form-info {
        margin-left: 11em;
    }
    .landing-page-1-container {
        padding: 25px 70px;
    }
    .landing-page-2-container {
        padding: 25px 70px;
    }
    .header-container .title-container {
        margin-left: 68px;
    }
    .header-container .login-link a button {
        margin-right: 68px;
    }
    .header-container .login-link {
        margin-right: 68px;
    }
}
